
<div class="jumbotron mt-3 <%= @api_color %> <%= @api_color == 'green-bg' ? 'text-white' : 'text-black' %>">

  <h1 class="display-4"><%= @final_output %></h1>

  <p class="lead"><%= @message_zipcode %></p>
  <hr class="my-4">
  <p><%= @api_description  %></p>
  <p>Hit "Reload" in your web browser to update the reading....</p>
</div>
